:root {
  --azul-fundo: #0f1722;
  --azul-card: #182230;
  --azul-card2: #1d2a3a;
  --azul-hover: #26384d;

  --azul-claro: #8ea9c1;
  --azul-texto: #d8e2ec;
  --azul-suave: #5f7a94;

  --sombra: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    135deg,
    #0f1722,
    #16202c,
    #1a2533
  );

  color: var(--azul-texto);

  font-family: Arial, sans-serif;

  min-height: 100vh;

  padding: 20px;
}

.container {
  max-width: 750px;
  margin: auto;
}


h1 {
  text-align: center;
  font-size: 50px;

  color: var(--azul-texto);

  margin-top: 20px;
  margin-bottom: 5px;

  font-weight: bold;
}

h2 {
  text-align: center;
  color: var(--azul-claro);
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: normal;
}

.card {
  background: rgba(24, 34, 48, 0.75);

  backdrop-filter: blur(6px);
  border-radius: 18px;
  padding: 22px;
  margin-bottom: 20px;

  box-shadow:
    0 8px 25px var(--sombra);

  transition: 0.3s;
}

.card:hover {
  background: rgba(29, 42, 58, 0.9);
}

.card h3 {
  margin-bottom: 10px;
  color: var(--azul-claro);
  font-size: 22px;
}

.card p {
  margin-bottom: 14px;
  color: #b8c7d6;
  line-height: 1.5;
}

input {
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.08);
  color: white;

  font-size: 15px;
  margin-bottom: 12px;
  transition: 0.3s;
}

input::placeholder {
  color: #93a4b5;
}

input:focus {
  background: rgba(255, 255, 255, 0.12);
}

button {
  padding: 12px 18px;
  border: none;
  border-radius: 12px;

  background: var(--azul-hover);
  color: white;

  font-size: 15px;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;

  margin-right: 8px;
  margin-bottom: 10px;
}

button:hover {
  background: #2b3f52;

  transform: translateY(-2px);
}


ul {
  list-style: none; 

  margin-top: 10px;
}
