body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #000000;
  color: #FFFFFF;
}

body {
  background: linear-gradient(
    to right,
    #3a0000,
    #000000,
    #3a0000
  );

  color: #FFFFFF;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: #b91c1c;
  text-align: center;

  font-size: 50px;
  font-weight: 650;

  margin-bottom: 0;
  letter-spacing: 1px;

  white-space: nowrap;
}

h2 {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 0;

  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 0;
  font-weight: bold;
}

h3 {
  margin: 30px 0 8px 0;
}

input {
  width: 96%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  margin-top: 16px;
  padding: 10px;
  background: #b91c1c;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #7f1d1d;
}

#resultado {
  margin-top: 20px;
  padding: 16px;
  background: white;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #b91c1c;
}

.cardSS {
  margin-top: 60px;
}

.cardAS {
  margin-top: 60px;
}